/**
 * @file
 * Visual styles for mt_highlight paragraphs type in HRPortalDEMO.
 */
.field--name-field-mt-prd-highlight {
  padding-top: 30px;
}
.field--type-entity-reference-revisions > .field__item {
  clear: both;
}
.field--type-entity-reference-revisions > .field__item:last-child {
  margin-bottom: 30px;
}
.field--type-entity-reference-revisions > .field__item:last-child:after {
  clear: both;
  display: table;
  content: " ";
}
.paragraph--type--mt-highlight {
  padding: 1.8em 0;
}
.field--name-field-mt-highlight-title {
  font-size: 28px;
  line-height: 1.20;
  font-weight: 700;
}
.node--view-mode-full .paragraph--type--mt-highlight .field.field--name-field-mt-highlight-title {
  margin: 0 0 10px 0;
}
@media (min-width: 992px) {
  .field--name-field-mt-highlight-title {
    font-size: 40px;
  }
}
.field--name-field-mt-highlight-body {
  font-size: 18px;
}
.node--view-mode-full .paragraph--type--mt-highlight .field.field--name-field-mt-highlight-body {
  margin-bottom: 20px;
}
.field__item .field--name-field-mt-highlight-body:after {
  clear: none;
}
.field--name-field-mt-highlight-link {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 767px) {
  .field--name-field-mt-highlight-title {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .field__item:nth-child(odd) .mt-highlight-image-wrapper {
    -ms-flex-order: 2;
    order: 2;
    padding-left: 1rem;
  }
  .field__item:nth-child(odd) .mt-highlight-image-wrapper + .col-md-6 {
    padding-right: 1rem;
  }
  .field__item:nth-child(even) .mt-highlight-image-wrapper {
    padding-right: 1rem;
  }
  .field__item:nth-child(even) .mt-highlight-image-wrapper + .col-md-6 {
    padding-left: 1rem;
  }
}
@media (min-width: 992px) {
  .field__item:nth-child(odd) .mt-highlight-image-wrapper {
    padding-left: 3rem;
  }
  .field__item:nth-child(odd) .mt-highlight-image-wrapper + .col-md-6 {
    padding-right: 3rem;
  }
  .field__item:nth-child(even) .mt-highlight-image-wrapper {
    padding-right: 3rem;
  }
  .field__item:nth-child(even) .mt-highlight-image-wrapper + .col-md-6 {
    padding-left: 3rem;
  }
}
