/**
 * @file
 * Visual styles for HRPortalDEMO's testimonials masonry views.
 */
.view-testimonials-masonry ul {
  list-style: none;
  margin-bottom: 0;
}
.view-testimonials-masonry .views-row {
  margin-top: 30px;
}
.view-testimonials-masonry .views-row .views-field-field-mt-tst-body {
  min-height: 0;
}
