/**
 * @file
 * Gray color styling for HRPortalDEMO for Drupal 8.
 */
:root {
  --mt-foreground-color: 225, 6%, 13%;
  --mt-foreground-color-contrast: 0, 0%, 100%;
  --mt-base-color-lightness: 85%;
  --mt-dark-color-lightness: 75%;
  --mt-base-color: 255, 5%, var(--mt-base-color-lightness);
  --mt-dark-color: 255, 5%, var(--mt-dark-color-lightness);
  --mt-link-color: 211, 80%, 40%;
  --mt-link-color-hover: 210, 80%, 30%;
}