/* Banner */
.internal-banner-container {
  position: relative;
  min-height: 480px;
}
.internal-banner-container--fullscreen .hero-top {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.internal-banner-container--carousel .hero-top {
  position: relative;
}
.internal-banner-container--carousel .hero-top__container {
  padding-top: 32px;
}
.internal-banner-container .page-title {
  margin-bottom: 0;
}
.internal-banner {
  font-size: 16px;
  min-height: 480px;
  width: 100%;
}
@media (max-width: 575px) {
  .internal-banner,
  .internal-banner-container {
    min-height: 300px;
  }
}
.internal-banner-container--carousel,
.internal-banner-container--carousel .hero-top,
.internal-banner-container--carousel .internal-banner {
  min-height: 0!important;
}
.internal-banner-container .block {
  padding-bottom: 16px;
}
.internal-banner-container + .hero-top {
  min-height: auto;
}
.internal-banner-container + .hero-top .page-title {
  display: none;
}

.internal-banner__meta {
  padding-top: 16px;
  font-size: 16px;
}
.internal-banner__meta-separator {
  font-size: 5px;
  line-height: 24px;
  text-align: center;
}
.internal-banner__meta-separator--wide {
  padding: 0 14px;
}
.internal-banner__meta .list-inline-item {
  font-size: 20px;
  margin-right: 24px;
}
.internal-banner__meta .list-inline-item:last-child {
  margin-right: 0;
}
.internal-banner__meta .field--entity-reference-target-type-taxonomy-term .field__item {
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .internal-banner__meta  {

  }
  .internal-banner__meta-separator {
    display: none;
  }
}