/**
 * @file
 * Styles for HRPortalDEMO's flippy pager.
 */
.flippy {
  margin-bottom: 40px;
}
.flippy__title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  text-align: center;
  padding-bottom: 10px;
}
.flippy-link {
  z-index: 0;
}
.flippy-link a {
  display: block;
  padding-top: 0px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.flippy-label {
  padding-top: 8px;
}
.flippy svg {
  position: absolute;
  top: 50%;
  margin-top: -23px;
  z-index: -1;
}
.flippy-next svg {
  right: 0;
}
.flippy-previous svg {
  left: 0;
}
@media (max-width: 575px) {
  .flippy__title {
    margin-left: -15px;
    margin-right: -15px;
  }
  .flippy-next svg {
    right: 10px;
  }
  .flippy-previous svg {
    left: 10px;
  }
}
