/**
 * @file
 * Visual styles for HRPortalDEMO's node in teaser tile view.
 */
.node--view-mode-mt-teaser-tile {
  margin-bottom: 50px;
}
.node--view-mode-mt-teaser-tile .promoted-label {
  background-color: #4d4d4d;
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px 3px;
  font-size: 12px;
  margin-bottom: 20px;
  display: inline-block;
}
.node--view-mode-mt-teaser-tile .node__header {
  padding-bottom: 0;
}
.node--view-mode-mt-teaser-tile .field--name-field-mt-srv-teaser-image,
.node--view-mode-mt-teaser-tile .field--name-field-mt-prd-teaser-image,
.node--view-mode-mt-teaser-tile .field--name-field-mt-pst-image,
.node--view-mode-mt-teaser-tile .field--name-field-mt-alb-image,
.node--view-mode-mt-teaser-tile .field--name-field-image {
  margin-bottom: 20px;
}
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item {
  margin: 0 0 7px;
  padding: 0;
  display: block;
  text-align: center;
}
.node--view-mode-mt-teaser-tile .promoted-label + .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-mt-teaser-tile .promoted-label + .field--entity-reference-target-type-taxonomy-term.field__item {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
  line-height: 1.35;
  vertical-align: text-top;
}
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term:before,
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item:before {
  content: "";
}
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term .field__item a,
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item a {
  font-size: 15px;
}
.region--dark-typography .node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term .field__item a,
.region--dark-typography .node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item a {
  color: #696969;
}
.node--type-mt-product.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term .field__item a,
.node--type-mt-product.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item a {
  background-color: #ffffff;
  color: #696969;
}
.region--dark-typography .node--view-mode-mt-teaser-tile .node__title a {
  color: #050505;
}
.region--dark-typography .node--view-mode-mt-teaser-tile .node__title a:hover,
.region--dark-typography .node--view-mode-mt-teaser-tile .node__title a:focus {
  text-decoration: none;
}
.node--view-mode-mt-teaser-tile h4.node__title {
  text-align: center;
}

/* article node */
.node--view-mode-mt-teaser-tile .node__meta-item .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-mt-teaser-tile .node__meta-item .field--entity-reference-target-type-taxonomy-term.field__item {
  margin-bottom: 0;
}
.node--view-mode-mt-teaser-tile .node__meta-item .field--name-field-tags,
.node--view-mode-mt-teaser-tile .node__meta-item .field--name-field-pst-category {
  display: inline-block;
}
.node--view-mode-mt-teaser-tile .node__meta {
  text-transform: capitalize;
  margin-bottom: 7px;
  display: block;
  text-align: center;
}
.region--dark-typography .node--view-mode-mt-teaser-tile .node__meta {
  color: #696969;
}
.node--view-mode-mt-teaser-tile .node__meta-item {
  display: inline-block;
  margin-bottom: 5px;
}
.node--view-mode-mt-teaser-tile .node__meta-user {
  display: block;
  text-align: center;
}
.node--view-mode-mt-teaser-tile .node__meta-tags {
  margin-bottom: 0;
}
.node--view-mode-mt-teaser-tile .node__meta-item:after {
  content: "/";
}
.node--view-mode-mt-teaser-tile .node__meta-item:last-child:after {
  content: "";
}

/*product node*/
.node--type-mt-product.node--view-mode-mt-teaser-tile .product-thumbnail-container {
  position: relative;
}
.node--type-mt-product.node--view-mode-mt-teaser-tile .field--name-field-mt-prd-tags a {
  color: #ffffff;
  padding: 5px 15px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}
.node--type-mt-product.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term .field__item a:after {
  content: "";
}
.node--type-mt-product.node--view-mode-mt-teaser-tile .product-thumbnail-container .field--name-field-mt-prd-tags {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  font-size: 0;
}
.node--type-mt-product.node--view-mode-mt-teaser-tile .field--name-field-mt-prd-tags .field__item {
  margin: 0;
}
.node--type-mt-product.node--view-mode-mt-teaser-tile .product-thumbnail-container .field--name-field-mt-prd-tags .field__item:last-child {
  margin-left: 3px;
}
.teaser-tile__price {
  text-align: center;
}
.teaser-tile__price .field--name-field-mt-prd-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.7;
  margin-left: 15px;
}

/*showcase node*/
.node--view-mode-mt-teaser-tile .image-and-date-container {
  position: relative;
}
.node--view-mode-mt-teaser-tile .image-and-date-container .node__submitted-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  color: #333333;
  text-align: center;
}
.node--view-mode-mt-teaser-tile .node__submitted-date .day {
  font-size: 35px;
  font-weight: 600;
  display: block;
  line-height: 1;
}
.node--view-mode-mt-teaser-tile .node__submitted-date .month-year {
  font-size: 14px;
  font-weight: 500;
}