{#
/**
 * @file
 * HRPortalDEMO's theme implementation to display internal banner slider of Service node.
 */
#}

{% extends "page.html.twig" %}
{% block reading_progress_indicator %}
  {% if post_progress %}
    {{ attach_library('hrpdemo/post-progress') }}
    <div class="post-progress">
      <div class="post-progress__bar"></div>
    </div>
  {% endif %}
{% endblock %}
