/**
 * @file
 * Visual styles for Flashy+'s sticky header.
 */
.sticky-wrapper {
  position: relative;
}
.onscroll.transparent-header-active .header-container.js-transparent-header .sticky-wrapper {
  height: 0 !important;
}
@media (min-width: 768px) {
  .fixed-header-enabled .header.js-fixed {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .onscroll.fixed-header-enabled--scroll-up.headroom--scroll-up .header.js-fixed,
  .onscroll.fixed-header-enabled--scroll .header.js-fixed {
    opacity: 1;
    position: fixed;
    z-index: 499;
    top: 0;
    width: 100%;
  }
}
.modal-open.onscroll.fixed-header-enabled--scroll-up.headroom--scroll-up .header.js-fixed,
.modal-open.onscroll.fixed-header-enabled--scroll .header.js-fixed {
  z-index: 1041;
}
.modal-open.onscroll.fixed-header-enabled--scroll-up.headroom--scroll-up .header.js-fixed .region-header-first,
.modal-open.onscroll.fixed-header-enabled--scroll .header.js-fixed .region-header-first,
.modal-open.onscroll.fixed-header-enabled--scroll-up.headroom--scroll-up .header.js-fixed .region-header .block:not(.block-type--mt-modal),
.modal-open.onscroll.fixed-header-enabled--scroll .header.js-fixed .region-header .block:not(.block-type--mt-modal),
.modal-open .modal-icon-button {
  display: none;
}
.modal-open.onscroll.fixed-header-enabled--scroll-up.headroom--scroll-up .header.js-fixed .region-header .block-type--mt-modal .block,
.modal-open.onscroll.fixed-header-enabled--scroll .header.js-fixed .region-header .block-type--mt-modal .block {
  display: block;
}
.onscroll .region--dark-typography.header.js-fixed {
  border-bottom-color: hsla(0, 0%, 60%, 0.5);
}
.onscroll .header.js-fixed.region--white-background {
  background-color: rgba(255, 255, 255, 0.95);
}
.onscroll .region--white-background .header.js-fixed {
  background-color: rgba(29, 29, 29, 0.95);
}
.onscroll .header.js-fixed.region--black-background {
  background-color: rgba(29, 29, 29, 0.90);
}
.onscroll .region--black-background .header.js-fixed {
  background-color: rgba(29, 29, 29, 0.95);
}
.onscroll .header.js-fixed.region--gray-background {
  background-color: rgba(244, 244, 244, 0.95);
}
.onscroll .region--gray-background .header.js-fixed {
  background-color: rgba(29, 29, 29, 0.95);
}
.fixed-header-enabled.onscroll .header__container,
.fixed-header-enabled.onscroll .header-second,
.fixed-header-enabled.onscroll .header-third,
.fixed-header-enabled.onscroll .header-first,
.fixed-header-enabled.onscroll .header-container ul.menu {
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.fixed-header-enabled.onscroll .header-container .col-lg-3.mb-md-3 {
  margin-bottom: 0!important;
}
.fixed-header-enabled.onscroll .header-container .site-branding:not(.logo-enabled):not(.site-slogan-enabled) a {
  font-size: 55px;
}
.fixed-header-enabled.onscroll .header-container .logo-enabled .logo-and-site-name-wrapper,
.fixed-header-enabled.onscroll .header-container .site-slogan-enabled .logo-and-site-name-wrapper {
  padding: 10px 0;
}
.fixed-header-enabled.onscroll .header-container ul.menu > li > a,
.fixed-header-enabled.onscroll .header-container ul.menu > li > span {
  padding: 26px 15px;
}
@media (min-width: 1441px) {
  .fixed-header-enabled.onscroll .menu.cta-active > li:last-child > a {
    padding: 25px 15px;
  }  
}
.fixed-header-enabled.onscroll .header-container ul.sf-menu > li.menuparent > a {
  padding-right: 20px;
}
.fixed-header-enabled.onscroll .header-container ul.sf-menu .sf-sub-indicator {
  top: 35px;
}
.fixed-header-enabled.onscroll .header-container ul.sf-menu ul .sf-sub-indicator {
  top: 23px;
}
.fixed-header-enabled.onscroll header.header .modal-icon-button {
  padding: 19px 36px 20px;
}
@media (max-width: 1440px) {
  .fixed-header-enabled.onscroll header.header .modal-icon-button {
    padding: 19px 30px 20px;
  }
}
@media (max-width: 767px) {
  .onscroll .header.js-fixed {
    display: none;
  }
}
