/**
 * @file
 * Visual styles for Flashy+'s logo links block.
 */
.block-mt-logo-links .logo-container {
  padding: 16px 33px;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  display: flex;
}
.block-mt-logo-links .logo-container a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.block-mt-logo-links .logo-container .field--name-field-mt-il-image img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 145px;
  opacity: 0.6;
}
.block-mt-logo-links .logo-container:hover .field--name-field-mt-il-image img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.block-mt-logo-links .paragraph--type--mt-image-link {
  height: 100%;
}
.block-mt-logo-links .field--name-field-mt-il-image {
  margin: 0 auto;
}
