/**
 * @file
 * Styles for menus in Flashy+.
 */

/*Menus*/
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu li {
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}
ul.menu li a,
ul.menu li > span {
  padding: 7px 0 8px 20px;
  line-height: 150%;
  display: block;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  color: #202124;
}
ul.menu li > span {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.menu li a:hover {
  text-decoration: none;
}
.region--light-typography ul.menu > li > a,
.region--light-typography ul.menu > li > span,
.region--light-typography ul.menu > li > a.is-active,
.region--light-typography ul.menu > li.active-trail > a {
  color: #ffffff;
}
ul.menu li.menu-item--expanded ul {
  padding-left: 25px;
}

/*menu arrows*/
ul.menu li > a:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0px;
  font-size: 15px;
  top: 8px;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
ul.menu li.menu-item--expanded > a:before {
  content: "\f107";
}
ul.menu li > a:hover:before {
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
ul.menu li.menu-item--expanded > a:hover:before {
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.region--light-typography ul.menu li > a:before {
  color: #ffffff;
}

/*header top highlighted*/
.header-top-highlighted__section ul.menu:not(.sf-accordion) {
  text-align: center;
}
.header-top-highlighted__section ul.menu:not(.sf-accordion) li a,
.header-top-highlighted__section ul.menu:not(.sf-accordion) li > span {
  text-transform: none;
  padding: 10px 10px 10px;
  line-height: 1.2;
  margin: 0;
  font-size: 13px;
}
.header-top-highlighted__section ul.menu:not(.sf-accordion) > li:first-child > a,
.header-top-highlighted__section ul.menu:not(.sf-accordion) > li:first-child > span {
  padding-left: 0;
}
.header-top-highlighted__section ul.menu:not(.sf-accordion) > li:last-child > a,
.header-top-highlighted__section ul.menu:not(.sf-accordion) > li:last-child > span {
  padding-right: 0;
}
.header-top-highlighted__section ul.menu:not(.sf-accordion) .sf-sub-indicator {
  top: 58%;
}
.header-top-highlighted__section ul.menu:not(.sf-accordion) ul .sf-sub-indicator {
  top: 19px;
}
@media (min-width: 1200px) {
  .header-top-highlighted-first ul.menu:not(.sf-accordion) {
    text-align: left;
  }
  .header-top-highlighted-second ul.menu:not(.sf-accordion) {
    text-align: right;
  }
}

/*header top*/
.header-top__section ul.menu:not(.sf-accordion) {
  text-align: center;
}
.header-top__section ul.menu:not(.sf-accordion) li a,
.header-top__section ul.menu:not(.sf-accordion) li > span {
  text-transform: none;
  padding: 10px 10px 10px;
  line-height: 1.2;
  margin: 0;
  font-size: 15px;
}
.header-top__section ul.menu:not(.sf-accordion) > li:first-child > a,
.header-top__section ul.menu:not(.sf-accordion) > li:first-child > span {
  padding-left: 0;
}
.header-top__section ul.menu:not(.sf-accordion) > li:last-child > a,
.header-top__section ul.menu:not(.sf-accordion) > li:last-child > span {
  padding-right: 0;
}
.header-top__section ul.menu:not(.sf-accordion) ul .sf-sub-indicator {
  top: 19px;
}
@media (min-width: 768px) {
  .header-top-first ul.menu:not(.sf-accordion) {
    text-align: left;
  }
  .header-top-second ul.menu:not(.sf-accordion) {
    text-align: right;
  }
}

/*Main navigation*/
.header-container ul.menu {
  margin: 0;
  list-style: none;
  text-align: right;
}
.header-container ul.menu:not(.sf-menu) {
  font-size: 0;
}
.header-container .header-first ul.menu {
  text-align: left;
}
@media (max-width: 991px) {
  .header-container ul.menu {
    text-align: center;
  }
}
.header__section ul.menu {
  padding: 0;
}
.header-container ul.menu li {
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: none;
  z-index: 497;
  vertical-align: top;
}
@media (min-width: 1200px) {
  .header-container .col-12 ul.menu > li {
    padding: 0 4px;
  }
  .header-container .col-12 ul.menu > li:first-child {
    padding-left: 0;
  }
  .header-container .col-12 ul.menu > li:last-child {
    padding-right: 0;
  }
}
@media (min-width: 1440px) {
  .header-container .col-12 ul.menu > li {
    padding: 0 10px;
  }
}
.header-container ul.menu > li > a,
.header-container ul.menu > li > span {
  line-height: 1;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 38px 10px;
  margin: 0 10px;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .header-container ul.menu > li > a,
  .header-container ul.menu > li > span {
    margin: 0 2px;
  }
}
.header-container ul.menu > li > a:hover,
.header-container ul.menu > li > a:focus,
.header-container ul.menu > li > a.is-active {
  color: #202124;
}
.header-container ul.menu > li > a:before,
.header-container ul.menu > li > span:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width: 1199px) {
  .header-container ul.menu > li > a:before,
  .header-container ul.menu > li > span:before {
    left: -2px;
    right: -2px;
  }  
}
.header-container ul.menu > li > a:hover:before,
.header-container ul.menu > li > span:hover:before,
.header-container ul.menu > li > a:focus:before,
.header-container ul.menu > li > span:focus:before,
.header-container ul.menu > li > a.is-active:before,
.header-container ul.menu > li > span.is-active:before,
.header-container ul.menu > li.active-trail > a:before,
.header-container ul.menu > li.active-trail > span:before {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.headings-wide-spacing-enabled .header-container ul.menu li a,
.headings-wide-spacing-enabled .header-container ul.menu li > span  {
  letter-spacing: 0.25em;
}
.header-container ul.menu li a:before {
  content: "";
  font-family: sans-serif;
}
.header-container ul.menu ul.menu {
  display: none;
}
@media (max-width: 767px) {
  .header-container .header-second .block-type--mt-modal {
    display: none;
  }
  .header-container .header-second .sf-accordion-toggle {
    margin-top: -60px;
  }
}
@media (max-width: 767px) {
  .header-container ul.menu:not(.sf-menu) {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

/*superfish support*/
.sf-menu ul {
  display: none;
}
.header-container .sf-menu li.sfHover {
  z-index: 498;
}
.header-container ul.menu > li.sfHover > a,
.header-container ul.menu > li.sfHover > span {
  color: #202124;
}
.header-container ul.menu > li.sfHover > a:before,
.header-container ul.menu > li.sfHover > span:before {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.header-container ul.sf-menu > li.menuparent > a {
  padding-right: 20px;
}
.header-container .sf-menu > li > ul {
  right: 0 !important;
}
.header-container .sf-menu.menu ul {
  display: none;
  padding: 10px 0;
  text-align: left;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  margin-top: 0px;
  border-width: 0px;
}
.header-container .sf-shadow.sf-menu.menu ul {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  border-width: 0px;
}
.header-container .sf-menu.menu li ul {
  border-top-width: 4px;
  border-top-style: solid;
}
.header-container .sf-menu ul li a,
.header-container .sf-menu ul li > span {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 2em 13px;
  display: block;
  color: #202124;
  font-weight: 700;
}
.header-container .sf-menu ul li a {
  position: relative;
}
.header-container .sf-menu ul li.sfHover > a,
.header-container .sf-menu ul li a:hover,
.header-container .sf-menu ul li > a.is-active,
.header-container .sf-menu ul li.active-trail > a {
  color: #202124;
}
.header-container .sf-menu ul > li:last-child > a,
.header-container .sf-menu ul > li:last-child > span {
  border-bottom: none;
}
.headings-wide-spacing-enabled .header-container .sf-menu ul li a,
.headings-wide-spacing-enabled .header-container .sf-menu ul li > span {
  letter-spacing: 0;
  text-transform: none;
}
.header-container .sf-menu.menu ul ul {
  top: -14px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0;
}
.header-container .sf-shadow.sf-menu.menu ul ul {
  margin-left: 10px;
  margin-right: 10px;
}

/*superfish menu arrows*/
.header-container ul.sf-menu .sf-sub-indicator {
  right: 3px;
  width: 17px;
  font-size: 13px;
  font-weight: 400;
  top: 48px;
  margin-top: 0px;
}
.header-container ul.sf-menu > li > a .sf-sub-indicator:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  left: 50%;
  top: -2px;
  margin-left: -3px;
  font-size: 13px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  transform: none;
}
.header-container ul.sf-menu ul .sf-sub-indicator {
  right: 7px;
  top: 23px;
  width: 14px;
  font-size: 18px;
  height: 15px;
}
.header-container ul.sf-menu ul li .sf-sub-indicator:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f105";
  font-size: 13px;
  position: absolute;
  right: 7px;
  top: 2px;
  transform: none;
}

/* Superfish mega-menu support */
.header-container .sf-menu.sf-mt-mega-menu > li {
  position: static;
}
.header-container .sf-menu.sf-mt-mega-menu > li > .sf-multicolumn {
  width: 100%!important;
  position: fixed;
  top: auto;
}
.header-container .sf-menu.sf-mt-mega-menu > li > .sf-multicolumn > .sf-multicolumn-wrapper {
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  width: 100%;
}
@media (min-width: 576px) {
  .header-container .col-12 .sf-menu.sf-mt-mega-menu > li > .sf-multicolumn > .sf-multicolumn-wrapper {
    width: 510px!important;
  }
}
@media (min-width: 768px) {
  .header-container .col-12 .sf-menu.sf-mt-mega-menu > li > .sf-multicolumn > .sf-multicolumn-wrapper {
    width: 690px!important;
  }
}
@media (min-width: 992px) {
  .header-container .col-12 .sf-menu.sf-mt-mega-menu > li > .sf-multicolumn > .sf-multicolumn-wrapper {
    width: 930px!important;
  }
}
@media (min-width: 1200px) {
  .header-container .col-12 .sf-menu.sf-mt-mega-menu > li > .sf-multicolumn > .sf-multicolumn-wrapper {
    width: 1110px!important;
  }
}
.header-container ul.sf-menu ul li.sf-multicolumn-column a.menuparent {
  font-weight: bold;
}
.header-container ul.sf-menu ul li.sf-multicolumn-column a.menuparent:after {
  content: "";
}

/*Menu with call-to-action button*/
.menu.cta-active > li:last-child > a {
  font-size: 16px;
  font-weight: 700;
  padding: 37px 30px;
  text-decoration: none;
  line-height: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.menu.cta-active > li:last-child > a.is-active {
  color: #ffffff;  
}
@media (max-width: 1440px) {
  .menu.cta-active > li:last-child > a {
    font-size: 14px;
    font-weight: 700;
    padding: 38px 23px;
  }
}
@media (max-width: 1199px) {
  .menu.cta-active > li:last-child > a {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu.cta-active {
    display: flex;
  }
  .menu.cta-active > li:last-child {
    margin-left: auto;
  }
}
.menu.cta-active > li:last-child > a:before {
  background-color: #202124;
  opacity: 1;
  left: 0;
  right: 0;
}

.menu.cta-active > li:last-child > a.is-active:before {
  background-color: #202124;
}
.menu.cta-active > li:last-child > a:hover,
.menu.cta-active > li:last-child > a:focus,
.menu.cta-active > li:last-child > a.is-active:hover,
.menu.cta-active > li:last-child > a.is-active:focus {
  color: #202124;
}
.region--dark-gray-background .menu.cta-active > li:last-child > a,
.region--black-background .menu.cta-active > li:last-child > a,
.region--dark-gray-background .menu.cta-active > li:last-child > a.is-active,
.region--black-background .menu.cta-active > li:last-child > a.is-active {
  color: #202124;
}
.region--dark-gray-background .menu.cta-active > li:last-child > a:hover,
.region--dark-gray-background .menu.cta-active > li:last-child > a:focus,
.region--black-background .menu.cta-active > li:last-child > a:hover,
.region--black-background .menu.cta-active > li:last-child > a:focus,
.region--dark-gray-background .menu.cta-active > li:last-child > a.is-active:hover,
.region--dark-gray-background .menu.cta-active > li:last-child > a.is-active:focus,
.region--black-background .menu.cta-active > li:last-child > a.is-active:hover,
.region--black-background .menu.cta-active > li:last-child > a.is-active:focus {
  color: #ffffff;
}
.region--dark-gray-background .menu.cta-active > li:last-child > a:hover:before,
.region--dark-gray-background .menu.cta-active > li:last-child > a:focus:before,
.region--black-background .menu.cta-active > li:last-child > a:hover:before,
.region--black-background .menu.cta-active > li:last-child > a:focus:before,
.region--dark-gray-background .menu.cta-active > li:last-child > a.is-active:hover:before,
.region--dark-gray-background .menu.cta-active > li:last-child > a.is-active:focus:before,
.region--black-background .menu.cta-active > li:last-child > a.is-active:hover:before,
.region--black-background .menu.cta-active > li:last-child > a.is-active:focus:before {
  background-color: #202124;
}
.page-container-border-enabled .header-container .container-fluid .menu.cta-active > li:last-child > a {
  margin-right: 15px;
}
.headings-wide-spacing-enabled .menu.cta-active > li:last-child > a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.sf-accordion.sf-style-none.cta-active > li:last-child {
  text-align: center;
}
.sf-accordion.sf-style-none.cta-active > li:last-child > a {
  display: block;
  border-width: 2px;
}

/*Mobile Menu*/
.header-container .block-superfish {
  position: relative;
}
@media (max-width:767px) {
  .header-container .block-superfish {
    width: auto;
    margin: 0 -15px;
  }
}
.header-container .sf-accordion-toggle.sf-style-none {
  text-align: right;
}
.header-container .sf-accordion-toggle.sf-style-none a {
  padding: 7px 10px;
  display: inline-block;
  text-decoration: none;
}
.header-container .region--dark-typography .sf-accordion-toggle.sf-style-none a {
  color: #2d2d2d;
}
.header-container .sf-accordion-toggle.sf-style-none a:after {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
}
.header-container .sf-accordion-toggle.sf-style-none a.sf-expanded {
  position: relative;
  right: auto;
  z-index: auto;
}
.header-container .sf-accordion-toggle.sf-style-none a.sf-expanded:after {
  content: "\f00d";
}
.header-container .sf-accordion-toggle.sf-style-none span {
  display: none;
}
.header-container ul.menu.sf-accordion {
  padding: 0;
  text-align: left;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid #f0f0f0;
}
.header-container ul.menu.sf-accordion ul {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}
.header-container .sf-accordion.menu > li > ul:after {
  content: "";
  width: 0;
  height: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.header-container ul.menu.sf-accordion li a,
.header-container ul.menu.sf-accordion li > span {
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
  text-transform: none;
  border-radius: 0;
  padding-left: 24px;
  padding-right: 24px;
}
.header-container ul.menu.sf-accordion li a:before,
.header-container ul.menu.sf-accordion li > span:before {
  left: 0;
  right: 0;
}
.header-container .sf-menu.sf-accordion ul li a,
.header-container .sf-menu.sf-accordion ul li > span {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-container ul.menu.sf-accordion li:last-child > a,
.header-container ul.menu.sf-accordion li:last-child > span {
  border-bottom-color: transparent;
}
.header-container ul.menu.sf-accordion ul li a,
.header-container ul.menu.sf-accordion ul li > span {
  padding-left: 45px;
}
.header-container ul.menu.sf-accordion ul ul li a,
.header-container ul.menu.sf-accordion ul ul li > span {
  padding-left: 60px;
}
.header-container ul.menu.sf-accordion ul ul ul li a,
.header-container ul.menu.sf-accordion ul ul ul li > span {
  padding-left: 75px;
}
.header-container ul.menu.sf-accordion ul ul ul ul li a,
.header-container ul.menu.sf-accordion ul ul ul ul li > span {
  padding-left: 90px;
}

/*mobile menu arrows*/
ul.menu.sf-menu.sf-accordion li a .sf-sub-indicator {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 45px;
  width: 47px;
  height: 100%;
  text-align: center;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  text-align: center;
}
ul.menu.sf-menu.sf-accordion li a .sf-sub-indicator:after,
ul.menu.sf-menu.sf-accordion ul li .sf-sub-indicator:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  height: 100%;
  margin-left: 0;
  font-size: 12px;
  transform: none;
  position: absolute;
  left: 50%;
  top: 0;
  right: auto;
  margin-left: -5px;
  top: 0;
  line-height: 90px;
}
.header-container .sf-menu.sf-accordion ul li a .sf-sub-indicator:after,
.header-container .sf-menu.sf-accordion ul li > span .sf-sub-indicator:after {
  line-height: 60px;
}
ul.menu.sf-menu.sf-accordion li.sf-expanded > a .sf-sub-indicator:after {
  content: "\f068";
}
ul.menu.sf-menu.sf-accordion li a.sf-accordion-button {
  position: absolute;
  right: 0;
  z-index: 500;
  padding: 0 15px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #f0f0f0;
  border-bottom: none;
  border-top: none;
  width: 50px;
  line-height: 50px;
  font-size: 0;
}
.region--light-typography ul.menu.sf-menu.sf-accordion li a.sf-accordion-button {
  border-color: rgba(255, 255, 255, 0.1);
}
ul.menu.sf-menu.sf-accordion li a.sf-accordion-button:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  height: 100%;
  margin-left: 0;
  font-size: 12px;
  transform: none;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 0;
  background-color: transparent;
  background: transparent;
}
ul.menu.sf-menu.sf-accordion li.sf-expanded > a.sf-accordion-button:after {
  content: "\f068";
}

/*Mobile Menu at slideout region*/
.slideout ul.menu:not(.sf-accordion) {
  margin: 0 -20px;
}
.slideout ul.menu li a,
.slideout ul.menu li > span {
  padding: 12px 40px 8px 40px;
}
.slideout ul.menu:not(.sf-accordion) li a:before,
.slideout ul.menu:not(.sf-accordion) li > span:before {
  content: "";
  font-family: sans-serif;
}
.slideout ul.menu.sf-accordion li a,
.slideout ul.menu.sf-accordion li > span {
  padding: 12px 0px 8px 20px;
}
.slideout .block-superfish {
  position: relative;
}
.slideout .sf-accordion-toggle.sf-style-none {
  display: none;
}
.slideout ul.menu.sf-accordion {
  padding: 0;
  text-align: left;
  border-radius: 5px;
  border-width: 0;
  display: block;
}
.slideout ul.menu.sf-accordion ul {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: #ffffff;
}
.slideout ul.menu.sf-accordion li a,
.slideout ul.menu.sf-accordion li > span {

}
.slideout ul.menu.sf-accordion ul ul li a,
.slideout ul.menu.sf-accordion ul ul li > span {
  padding-left: 30px;
}
.slideout ul.menu.sf-accordion ul ul ul li a,
.slideout ul.menu.sf-accordion ul ul ul li > span {
  padding-left: 45px;
}
.slideout ul.menu.sf-accordion ul ul ul ul li a,
.slideout ul.menu.sf-accordion ul ul ul ul li > span {
  padding-left: 60px;
}
.slideout .sf-accordion.sf-style-none.cta-active > li:last-child > a {
  margin: 40px 0 0 0;
}

/*mobile menu arrows*/
.slideout ul.sf-accordion li > a:before {
  content: "";
  font-family: sans-serif;
  width: 0;
  height: 0;
}
.slideout ul.sf-accordion li a.menuparent:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  border-left-width: 0;
  top: 0;
  left: auto;
  right: 10px;
  text-align: right;
  font-size: 12px;
  height: 100%;
  transform: none;
  line-height: 50px;
}
.slideout ul.sf-accordion li.sf-expanded > a.menuparent:after {
  content: "\f068";
}
.slideout ul.sf-accordion ul li a.menuparent:after {
  content: "\f067";
  top: 0;
  left: auto;
}
.slideout ul.sf-accordion li .sf-accordion-button + a.menuparent::after {
  content: "";
  content: none;
  font-family: sans-serif;
}

/*Mobile menu @colored regions*/
.region--light-typography ul.menu.sf-accordion {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
}
.region--light-typography ul.menu.sf-accordion ul {
  background-color: transparent;
}
.region--light-typography ul.menu.sf-accordion li a,
.region--light-typography ul.menu.sf-accordion li > span {
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

/*footer menu*/
.footer__section ul.menu li a,
.footer__section ul.menu li > span {
  padding: 8px 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}
.footer__section ul.menu li > a:before {
  content: "";
  font-family: sans-serif;
  width: 0px;
  height: 0px;
}
@media (max-width:767px) {
  .footer__section ul.menu {
    text-align: center;
  }
  ul.menu li.menu-item--expanded ul {
    padding-left: 0;
  }
  .footer__section ul.menu li a,
  .footer__section ul.menu li > span {
    padding: 7px 20px 8px 20px;
  }
}
.region--dark-typography .footer__section ul.menu li a,
.region--dark-typography .footer__section ul.menu li > span {
  color: #202124;
}

/*Footer Top menu*/
.footer-top__section ul.menu {
  margin: 13px 0;
  padding: 0;
  list-style-type: none;
}
.footer-top__section ul.menu li {
  display: inline-block;
}
.footer-top__section ul.menu ul.menu {
  display: none;
}
.footer-top__section ul.menu li a,
.footer-top__section ul.menu li > span {
  font-weight: 400;
  text-decoration: none;
  margin: 0 15px 0 13px;
  padding: 2px 0;
  line-height: 1;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.region--dark-typography .footer-top__section ul.menu li a,
.region--dark-typography .footer-top__section ul.menu li > span {
  color: #333333;
}
.region--dark-gray-background .footer-top__section ul.menu li a,
.region--dark-gray-background .footer-top__section ul.menu li > span {
  color: #ededed;
}
.footer-top__section ul.menu li a:hover,
.region--light-typography .footer-top__section ul.menu li > a:hover {
  background-color: transparent;
}
.headings-wide-spacing-enabled .footer-top__section ul.menu li a,
.headings-wide-spacing-enabled .footer-top__section ul.menu li > span {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.footer-top__section ul.menu li a:hover {
  border-bottom-color: #333333;
  text-decoration: none;
}
.region--light-typography .footer-top__section ul.menu li a:hover {
  border-bottom-color: #ffffff;
}
.region--dark-gray-background .footer-top__section ul.menu li a:hover {
  border-bottom-color: #ededed;
}
.footer-top__section ul.menu li:first-child > a,
.footer-top__section ul.menu li:first-child > span {
  margin-left: 0;
}
.footer-top__section ul.menu li:last-child > a,
.footer-top__section ul.menu li:last-child > span {
  margin-right: 0;
}
.footer-top__section ul.menu li a:before {
  content: "";
  font-family: sans-serif;
  width: 0;
  height: 0;
}
@media (max-width:991px) {
  .footer-top__section ul.menu {
    padding: 10px 0;
  }
}
@media (max-width:767px) {
  .footer-top__section ul.menu {
    text-align: center;
  }
  .footer-top__section ul.menu li {
    display: block;
    margin: 10px 20px;
  }
  .footer-top__section ul.menu li:last-child a,
  .footer-top__section ul.menu li:first-child a,
  .footer-top__section ul.menu li a,
  .footer-top__section ul.menu li span {
    margin: 0 10px;
    display: inline-block;
    padding: 5px;
  }
}

/*Footer Bottom menu*/
.footer-bottom__section ul.menu li a,
.footer-bottom__section ul.menu li > span {
  padding: 8px 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}
.footer-bottom__section ul.menu li > a:before {
  content: "";
  font-family: sans-serif;
  width: 0px;
  height: 0px;
}
@media (max-width:767px) {
  .footer-bottom__section ul.menu {
    text-align: center;
  }
  ul.menu li.menu-item--expanded ul {
    padding-left: 0;
  }
  .footer-bottom__section ul.menu li a,
  .footer-bottom__section ul.menu li > span {
    padding: 7px 20px 8px 20px;
  }
}
.region--dark-typography .footer-bottom__section ul.menu li a,
.region--dark-typography .footer-bottom__section ul.menu li > span {
  color: #202124;
}

/*Subfooter top menu*/
.subfooter-top__section ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
.subfooter-top__section.subfooter-top-first ul.menu {
  text-align: left;
}
.col-md-12 .subfooter-top__section ul.menu {
  text-align: center;
}
.subfooter-top__section ul.menu li {
  display: inline-block;
}
.subfooter-top__section ul.menu ul.menu {
  display: none;
}
.subfooter-top__section ul.menu li a,
.subfooter-top__section ul.menu li > span {
  font-weight: 400;
  text-decoration: none;
  margin: 0 15px 0 13px;
  padding: 2px 0;
  line-height: 1;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 14px;
}
.region--dark-typography .subfooter-top__section ul.menu li a,
.region--dark-typography .subfooter-top__section ul.menu li > span {
  color: #202124;
}
.subfooter-top__section ul.menu li a:hover,
.region--light-typography .subfooter-top__section ul.menu li > a:hover {
  background-color: transparent;
}
.headings-wide-spacing-enabled .subfooter-top__section ul.menu li a,
.headings-wide-spacing-enabled .subfooter-top__section ul.menu li > span {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.subfooter-top__section ul.menu li a:hover {
  text-decoration: none;
}
.region--light-typography .subfooter-top__section ul.menu li a:hover {
  border-bottom-color: #ffffff;
}
.region--dark-gray-background .subfooter-top__section ul.menu li a:hover {
  border-bottom-color: #ededed;
}
.subfooter-top__section ul.menu li:first-child > a,
.subfooter-top__section ul.menu li:first-child > span {
  margin-left: 0;
}
.subfooter-top__section ul.menu li:last-child a,
.subfooter-top__section ul.menu li:last-child > span {
  margin-right: 0;
}
.subfooter-top__section ul.menu li a:before {
  content: "";
  font-family: sans-serif;
  width: 0;
  height: 0;
}
@media (max-width: 1199px) {
  .subfooter-top__section ul.menu li a,
  .subfooter-top__section ul.menu li > span {
    margin: 0 8px 0 6px;
  }
}
@media (max-width: 991px) {
  .subfooter-top__section ul.menu,
  .subfooter-top__section.subfooter-top-first ul.menu {
    text-align: center;
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .subfooter-top__section ul.menu li {
    display: block;
    margin: 10px 20px;
  }
  .subfooter-top__section ul.menu li:last-child a,
  .subfooter-top__section ul.menu li:first-child a,
  .subfooter-top__section ul.menu li a,
  .subfooter-top__section ul.menu li > span {
    margin: 0 10px;
    display: inline-block;
    padding: 5px;
  }
}

/*Subfooter menu*/
.subfooter__section ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
.subfooter__section.subfooter-first ul.menu {
  text-align: left;
}
.col-md-12 .subfooter__section ul.menu {
  text-align: center;
}
.subfooter__section ul.menu li {
  display: inline-block;
}
.subfooter__section ul.menu ul.menu {
  display: none;
}
.subfooter__section ul.menu li a,
.subfooter__section ul.menu li > span {
  font-weight: 400;
  text-decoration: none;
  margin: 0 15px 0 13px;
  padding: 2px 0;
  line-height: 1;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 14px;
}
.region--dark-typography .subfooter__section ul.menu li a,
.region--dark-typography .subfooter__section ul.menu li > span {
  color: #202124;
}
.subfooter__section ul.menu li a:hover,
.region--light-typography .subfooter__section ul.menu li > a:hover {
  background-color: transparent;
}
.headings-wide-spacing-enabled .subfooter__section ul.menu li a,
.headings-wide-spacing-enabled .subfooter__section ul.menu li > span {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.subfooter__section ul.menu li a:hover {
  text-decoration: none;
}
.region--light-typography .subfooter__section ul.menu li a:hover {
  border-bottom-color: #ffffff;
}
.region--dark-gray-background .subfooter__section ul.menu li a:hover {
  border-bottom-color: #ededed;
}
.subfooter__section ul.menu li:first-child > a,
.subfooter__section ul.menu li:first-child > span {
  margin-left: 0;
}
.subfooter__section ul.menu li:last-child a,
.subfooter__section ul.menu li:last-child > span {
  margin-right: 0;
}
.subfooter__section ul.menu li a:before {
  content: "";
  font-family: sans-serif;
  width: 0;
  height: 0;
}
@media (max-width: 1199px) {
  .subfooter__section ul.menu li a,
  .subfooter__section ul.menu li > span {
    margin: 0 8px 0 6px;
  }
}
@media (max-width: 991px) {
  .subfooter__section ul.menu,
  .subfooter__section.subfooter-first ul.menu {
    text-align: center;
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .subfooter__section ul.menu li {
    display: block;
    margin: 10px 20px;
  }
  .subfooter__section ul.menu li:last-child a,
  .subfooter__section ul.menu li:first-child a,
  .subfooter__section ul.menu li a,
  .subfooter__section ul.menu li > span {
    margin: 0 10px;
    display: inline-block;
    padding: 5px;
  }
}
